@use "../abstracts/" as *;

.main {
    max-width: 100%;
    text-align: center;
    margin-bottom: 105px;
    
    &__container {
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
        
        @include breakpoint(xl){
            width: 1225px;
            margin-left: 125px;
            margin-right: 125px;
        }
    }
}